<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <!-- Map these files with JSF -->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>       
        
    <session-config>
        <session-timeout>
            86000000
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
    
    <!-- JSCSSMergeServlet -->
    <servlet>
        <servlet-name>JSCSSMergeServet</servlet-name>
        <servlet-class>com.googlecode.webutilities.servlets.JSCSSMergeServlet</servlet-class>
        <init-param>
            <param-name>expiresMinutes</param-name>
            <param-value>43200</param-value> <!-- 30 days -->
        </init-param>
    </servlet>
    <!-- Mapping -->
    <servlet-mapping>
        <servlet-name>JSCSSMergeServet</servlet-name>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.json</url-pattern>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.png</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
 
 
    <!-- CharacterEncodingFilter -->
    <filter>
        <filter-name>charEncodingFilter</filter-name>
        <filter-class>com.googlecode.webutilities.filters.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>force</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>ignoreURLPattern</param-name>
            <param-value>.*\.(png|gif|jpg|tiff|bmp|mpg|jpeg)</param-value>
        </init-param>
    </filter>
    <!-- Mapping -->
    <filter-mapping>
        <filter-name>charEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
 
 
 
    <!-- ResponseCacheFilter -->
    <filter>
        <filter-name>responseCacheFilter</filter-name>
        <filter-class>com.googlecode.webutilities.filters.ResponseCacheFilter</filter-class>
    </filter>
    <!-- Mapping -->
    <filter-mapping>
        <filter-name>responseCacheFilter</filter-name>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.json</url-pattern>
        <url-pattern>*.css</url-pattern>
    </filter-mapping>
    
    
    
    <!-- CompressionFilter -->
    <filter>
        <filter-name>compressionFilter</filter-name>
        <filter-class>com.googlecode.webutilities.filters.CompressionFilter</filter-class>
        <init-param>
            <param-name>compressionThreshold</param-name>
            <param-value>256</param-value> <!--  anything above 512bytes  -->
        </init-param>
        <init-param>
            <param-name>ignoreURLPattern</param-name>
            <param-value>.*\.(png|gif|jpg|tiff|bmp|mpg|jpeg)</param-value>
        </init-param>   
    </filter>
    <!-- Mapping -->
    <filter-mapping>
        <filter-name>compressionFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <url-pattern>*.js.xhtml*</url-pattern>
    </filter-mapping>
 
 
    <!-- YUIMinFilter -->
    <filter>
        <filter-name>yuiMinFilter</filter-name>
        <filter-class>com.googlecode.webutilities.filters.YUIMinFilter</filter-class>
    </filter>
    <!-- Mapping -->
    <filter-mapping>
        <filter-name>yuiMinFilter</filter-name>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.json</url-pattern>
        <url-pattern>*.css</url-pattern>

    </filter-mapping>
 
 
</web-app>
